html,body{
	height:100%;
}

#mynavbar{
	background-color: #303F9F;
}

label{
	font-size: 20px !important;
}

.input-field p{

	font-size: 20px !important;

}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
}

.push{
  height: 150px;
}
body{
	font-family: 'Khand', sans-serif;
	background:url('../images/texture.png') !important;
}

#header{
	
	background-size: cover;
	background:url('../images/family2.jpg') no-repeat center center;
	background-size:cover;

}

.headercontent{
	text-align: center;

}

.bigheader{
	padding-top: 10%;
	padding-bottom: 14%;
	color:#FFF;
	font-family: 'Khand', sans-serif;
	
}

#overlay{
	background-color: rgba(0,0,0,0.6);
}

#intro{

	font-size: 5.5rem;
	font-weight: 800;

}

#headerbtn{
	margin-top: 5%;
}

.brand-logo{
	font-family: 'Khand', sans-serif;
	margin-left: 5%;
}

#quotebtn{
	background: #3F51B5;
	transition:0.5s;
}

#quotebtn:hover{
	transform:scale(1.2);
}

#quote1{
	margin-top: 5%;
}

#mypanel{
	padding-top: 5%;
	padding-bottom: 5%;
}

#quotepanel{

	padding-top: 5%;
	padding-bottom: 5%;

}

#abtus{

	padding-top: 3%;
	padding-bottom: 3%;

}

#servicecard{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

#whyus{
	background-color: #fcfcfc;
	padding-top: 3%;
	padding-bottom: 3%;
}

#quotes{

	background:url('../images/car4.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 5%;
	padding-bottom: 5%;
	color:#FFF;

}

#myfooter{
	background-color: #2E2E2E;

}

#quotationqstns,#quote1{
	padding-top: 5%;
	padding-bottom: 5%;
}

#partnercard{
	height:300px;
}

#brands{

	padding-top: 3%;
	padding-bottom: 3%;

}

#blue{

	color:#303F9F

}

#q1,#q2,#q3,#q4,#q5{

	
	margin-bottom: 10%;

}

#questionrow{
	margin-top: 5%;
	margin-bottom: 7%;

}

#socialmedia{
	background-color: #FFF;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 5%;
}

.fa-facebook{
	color: #3b5998;
	transition:0.5s;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-google-plus:hover,.fa-linkedin:hover{
	transform:scale(1.5);
	cursor: pointer;
}

.fa-twitter{
	color:#00aced;
	transition:0.5s;
}

.fa-google-plus{
	color:#dd4b39;
	transition:0.5s;
}

.fa-linkedin{
	color:#007bb6;
	transition:0.5s;
}

#covers{
	padding-top: 3%;
	padding-bottom: 3%;
}

@media(max-width: 768px){

	#intro{
		font-size: 3.0rem !important;
		font-weight: 300;
	}

	
}

@media(max-width: 468px){

	#intro{
		font-size: 3.0rem !important;
		font-weight: 300;
	}

	#questionrow{
	margin-top: 5%;
	margin-bottom: 22% !important;

}

#myfooter{
	background-color: #2E2E2E;
	margin-top: 20%;
}
}